.navbar {
  width: 50%;
  margin: auto;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}
.navbar a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.15rem;
}

nav.navbar.solid {
  background-color: #000;
}

#nav-items {
  display: flex;
  justify-content: flex-end;
}

.navbar-nav a {
  font-size: 14px;
  font-weight: 500;
  margin-left: 2rem;
  transition: 0.3s ease-in-out;
}
.navbar-nav a:hover {
  color: rgba(255,255,255,0.6);
}