@media only screen and (max-width: 520px) {
  .cardContainer { width: 95%; }
}
@media only screen and (min-width: 520px) {
  .cardContainer { width: 85%; }
}
@media only screen and (min-width: 640px) {
  .cardContainer { width: 80%; }
}
@media only screen and (min-width: 768px) {
  .cardContainer { width: 70%; }
}
@media only screen and (min-width: 920px) {
  .cardContainer { width: 55%; }
}
@media only screen and (min-width: 1080px) {
  .cardContainer { width: 45%; }
}
@media only screen and (min-width: 1280px) {
  .cardContainer { width: 40%; }
}
@media only screen and (min-width: 1550px) {
  .cardContainer { width: 31%; }
}
@media only screen and (min-width: 1900px) {
  .cardContainer { width: 27%; }
}
@media only screen and (min-width: 2600px) {
  .cardContainer { width: 24%; }
}
.cardContainer {
  height: 480px;
  border: 1px solid #d3d3d3;
  border-radius: 5px;
  margin-top: 1rem;
  margin-bottom: 2rem;
  box-shadow: 3px 5px 3px rgba(0,0,0,0.1);
}

.image {
  width: 100%;
  margin: 0 auto;
  height: 45%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom: 1px solid #d3d3d3;
}

.cardBody {
  margin: 5px 1rem;
  height: 55%;
  position: relative;
}
.cardBody .title {
  text-transform: uppercase;
  letter-spacing: 0.15rem;
  margin-bottom: 0.2rem;
  font-weight: 500;
}
.cardBody p {
  font-weight: 300;
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: auto;
  width: 100%;
  position: absolute;
  bottom: 1rem;
}
.buttons button {
  border: none;
  border-radius: 5px;
  outline: none;
  background-color: transparent;
  width: 100%;
  margin: 3px;
  transition: 0.2s ease-in;
}
.buttons button:hover {
  background-color: rgba(0,0,0,0.05);
}
.buttons a {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 0.1rem;
  color: rgb(0,0,0);
  width: 100%;
}